 #h4{text-align: center; font-size: 140%}
          table{border: 1px solid blue;}
          h2{text-align: center;}
.header{background-color: antiquewhite}
.links{background-color: #CCCCCC; font-style: italic;}
.name{font-family: monospace}
.bio{font-size: 120%}